@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

$h1-size: 40px;
$h2-size: 25px;
$h3-size: 20px;
$p-size: 16px;

$font-weight: 700;
$font-weight2: 500;
$font-weight3: 400;

