h1{
    @include title-big;
 
}


.hero{
    background-color: $bg-hero;
    background-image: url(../image/img-grid4.jpeg);
    background-size: cover;
    width: 100%;
    padding: 3em;
    h1{
        @include title-big;
     
    }

h3{
    font-size: $h3-size;
    font-weight: $font-weight2;
    color: $color-text;
   
}
p{
    font-size: $p-size;
    color: $color-text;
}
}

.container {
    @media  screen and (min-width: 576px) {
        @include grid(2); // Specifica il numero di elementi per riga (ad esempio, 3 elementi per riga)  
    }
    @media  screen and (min-width: 1000px) {
        @include grid(4); // Specifica il numero di elementi per riga (ad esempio, 3 elementi per riga)  
    }
    
  }
  
  .item {
    // Stile degli elementi all'interno della griglia
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
