@mixin title-big {
    font-size: $h1-size;
    color: $color-text;

    font-weight: $font-weight;
}

@mixin floating{
    border: none;
    box-shadow: 5px 5px 19px -2px #000000;
    border-radius: 10px;
    color: $color-text;
    padding: 0.8em;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.1);
}}

@mixin grid($num-elementi-per-riga) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 // Calcola la larghezza dei singoli elementi in base al numero di elementi per riga
      width: calc(100% / #{$num-elementi-per-riga}*1%);
      flex-grow: 1;
      margin: 3em 1em;
  }