@mixin title-big {
    font-size: $h1-size;
    color: $color-text;

    font-weight: $font-weight;
}

@mixin floating{
    border: none;
    box-shadow: 5px 5px 19px -2px #000000;
    border-radius: 10px;
    color: $color-text;
    padding: 0.8em;
}

@mixin grid($num-elementi-per-riga) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
    // Calcola la larghezza dei singoli elementi in base al numero di elementi per riga
    width: calc(100% / -#{$num-elementi-per-riga});
  }