
nav{
    background-color: $bg-nav;
    display: flex;
    justify-content: space-between;
    width: 100%;
    img{
        width: 150px;
        border-radius: 100px;
    }
    ul{
        display: flex;
        align-items: center;
       justify-content: center;

       li{
        padding-right: 2.3em;
        font-size: $p-size;
        a{
            text-decoration: none;
            color: white;
            &:hover{
                color: #191919
            }
        }
       }
    }
  
}