$padding-map:(
    xs: 0 1.5em 0 0,
    sm: 0 1.5em 0 0,
    normal: 0 2.3em 0 3em,
    lg: 0 3em 0 3em,
    xl: 0 5em 0 5em,
    xxl: 0 7em 0 7em,
);

 $margin-map:(
    xs: 1.5em 1.5em 1.5em 1.5em,
    sm: 1.5em 1.5em 1.5em 1.5em,
    normal: 2em 2.3em 2em 2.3em,
    lg: 3em 2.5em 3em 2.5em,
    xl: 5em 4.5em 5em 4.5em,
    xxl: 5em 5em 5em 5em,
);

@each $padding, $value in $padding-map {
     .padding-#{$padding} {
        padding: $value;
     }
}

@each $margin, $value in $margin-map {
    .margin-#{$margin} {
       margin: $value;
    }
}

