
@import '../partials/reset';

@import '../partials/mixins';
@import '../partials/spacing';
@import '../partials/colors';
@import '../partials/font';
@import '../partials/buttons';
@import '../partials/animation';


nav{
    background-color: $bg-hero;
    display: flex;
    justify-content: space-between;
    width: 100%;
    img{
        width: 120px;
        border-radius: 100px;
    }
    ul{
        display: flex;
        align-items: center;
       justify-content: center;

       li{
        padding-right: 2.3em;
        font-size: $p-size;
        a{
            text-decoration: none;
            color: white;
            &:hover{
                color: #78a5f2;
            }
        }
       }
    }
  
}

h1{
    @include title-big;
 
}


.hero{
    background-color: $bg-hero;
    background-image: url(../image/img-grid4.jpeg);
    background-size: cover;
    width: 93.7vw;
    padding: 3em;
    h1{
        @include title-big;
        @include animate-from-top(1s, 10px, 0, 300ms);
    }

h3{
    font-size: $h3-size;
    font-weight: $font-weight2;
    color: $color-text;
    @include animate-from-top(1s, 10px, 0, 700ms);
   
}
p{
    font-size: $p-size;
    color: $color-text;
    @include animate-from-top(1s, 10px, 0, 600ms);
}
button:first-of-type {
    @include animate-from-top(1s, 10px, 0, 800ms);
  }
  button:nth-of-type(2) {
    @include animate-from-top(1s, 10px, 0, 900ms);
  }
  button:last-of-type {
    @include animate-from-top(1s, 10px, 0, 1000ms);
  }
}

main .container {
    display: flex;
    width: 100%;
    .item {
      @include grid(4);
  
        padding-inline: 0.5em;
        img {
          width: 300px;
          height: 300px;
          @include floating;
        }
    }  
  }
  



