@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap");
html, body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: 13px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.padding-xs {
  padding: 0 1.5em 0 0;
}

.padding-sm {
  padding: 0 1.5em 0 0;
}

.padding-normal {
  padding: 0 2.3em 0 3em;
}

.padding-lg {
  padding: 0 3em 0 3em;
}

.padding-xl {
  padding: 0 5em 0 5em;
}

.padding-xxl {
  padding: 0 7em 0 7em;
}

.margin-xs {
  margin: 1.5em 1.5em 1.5em 1.5em;
}

.margin-sm {
  margin: 1.5em 1.5em 1.5em 1.5em;
}

.margin-normal {
  margin: 2em 2.3em 2em 2.3em;
}

.margin-lg {
  margin: 3em 2.5em 3em 2.5em;
}

.margin-xl {
  margin: 5em 4.5em 5em 4.5em;
}

.margin-xxl {
  margin: 5em 5em 5em 5em;
}

body {
  font-family: "Open Sans", sans-serif;
}

.button1 {
  border: none;
  box-shadow: 5px 5px 19px -2px #000000;
  border-radius: 10px;
  color: #f4f4f4;
  padding: 0.8em;
  transition: transform 0.3s;
  background-color: #0e6cff;
}
.button1:hover {
  transform: scale(1.1);
}

.button2 {
  border: none;
  box-shadow: 5px 5px 19px -2px #000000;
  border-radius: 10px;
  color: #f4f4f4;
  padding: 0.8em;
  transition: transform 0.3s;
  background-color: #ff8700;
}
.button2:hover {
  transform: scale(1.1);
}

.button3 {
  border: none;
  box-shadow: 5px 5px 19px -2px #000000;
  border-radius: 10px;
  color: #f4f4f4;
  padding: 0.8em;
  transition: transform 0.3s;
  background-color: #4caf50;
}
.button3:hover {
  transform: scale(1.1);
}

nav {
  background-color: #640fc5;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav img {
  width: 120px;
  border-radius: 100px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li {
  padding-right: 2.3em;
  font-size: 16px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: #78a5f2;
}

h1 {
  font-size: 60px;
  color: #f4f4f4;
  font-weight: 700;
}

.hero {
  background-color: #640fc5;
  background-image: url(../image/img-grid4.jpeg);
  background-size: cover;
  width: 93.7vw;
  padding: 3em;
}
.hero h1 {
  font-size: 60px;
  color: #f4f4f4;
  font-weight: 700;
  animation-name: animate-from-top-ujwsg1y;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 300ms;
}
@keyframes animate-from-top-ujwsg1y {
  from {
    opacity: 0;
    translate: 0 -10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.hero h3 {
  font-size: 30px;
  font-weight: 500;
  color: #f4f4f4;
  animation-name: animate-from-top-ujwsg1z;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 700ms;
}
@keyframes animate-from-top-ujwsg1z {
  from {
    opacity: 0;
    translate: 0 -10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.hero p {
  font-size: 16px;
  color: #f4f4f4;
  animation-name: animate-from-top-ujwsg2x;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 600ms;
}
@keyframes animate-from-top-ujwsg2x {
  from {
    opacity: 0;
    translate: 0 -10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.hero button:first-of-type {
  animation-name: animate-from-top-ujwsg3q;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 800ms;
}
@keyframes animate-from-top-ujwsg3q {
  from {
    opacity: 0;
    translate: 0 -10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.hero button:nth-of-type(2) {
  animation-name: animate-from-top-ujwsg3v;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 900ms;
}
@keyframes animate-from-top-ujwsg3v {
  from {
    opacity: 0;
    translate: 0 -10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.hero button:last-of-type {
  animation-name: animate-from-top-ujwsg3y;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1000ms;
}
@keyframes animate-from-top-ujwsg3y {
  from {
    opacity: 0;
    translate: 0 -10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

main .container {
  display: flex;
  width: 100%;
}
main .container .item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% / 4*1%);
  flex-grow: 1;
  margin: 3em 1em;
}
main .container .item img {
  width: 300px;
  height: 300px;
  border: none;
  box-shadow: 5px 5px 19px -2px #000000;
  border-radius: 10px;
  color: #f4f4f4;
  padding: 0.8em;
  transition: transform 0.3s;
}
main .container .item img:hover {
  transform: scale(1.1);
}

.text {
  border: none;
  box-shadow: 5px 5px 19px -2px #000000;
  border-radius: 10px;
  color: #f4f4f4;
  padding: 0.8em;
  transition: transform 0.3s;
  background-color: #78a5f2;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  width: 90%;
}
.text:hover {
  transform: scale(1.1);
}
.text p {
  font-size: 16px;
}
.text i {
  color: #640fc5;
}/*# sourceMappingURL=style.css.map */