
@import '../partials/reset';

@import '../partials/mixins';
@import '../partials/spacing';
@import '../partials/colors';
@import '../partials/font';
@import '../partials/navbar';
@import '../partials/buttons';
@import '../partials/animation';
@import '../partials/main'


nav{
    background-color: $bg-nav;
    display: flex;
    justify-content: space-between;
    width: 100%;
    img{
        width: 150px;
        border-radius: 100px;
    }
    ul{
        display: flex;
        align-items: center;
       justify-content: center;

       li{
        padding-right: 2.3em;
        font-size: $p-size;
        a{
            text-decoration: none;
            color: white;
            &:hover{
                color: #78a5f2;
            }
        }
       }
    }
  
}

h1{
    @include title-big;
 
}


.hero{
    background-color: $bg-hero;
    background-image: url(../image/img-grid4.jpeg);
    background-size: cover;
    width: 100%;
    padding: 3em;
    h1{
        @include title-big;
     
    }

h3{
    font-size: $h3-size;
    font-weight: $font-weight2;
    color: $color-text;
   
}
p{
    font-size: $p-size;
    color: $color-text;
}
}

.container {

    position: relative;

    .item {
      @include grid(4);
      div {
        padding-inline: 2em;
        img {
          width: 100%;
          @include floating;
        }
      }
    }
    
  }
  



